html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #ffb989;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    display: flex;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

input[type="text"] {
    border: 2px solid #ae2623;
    outline: none;
}

textarea {
    border: 2px solid #ae2623;
    outline: none;
    width: 300px;
    height: 50px;
}

button, input[type="submit"] {
    background: white;
    border: 2px solid #ae2623;
    cursor: pointer;
    box-shadow: black 1px 1px 2px;
    outline: none;
}

button:active, input[type="submit"]:active {
    position: relative;
    top: 2px;
    left: 2px;
    box-shadow: none;
}

.spacer {
    margin-top: 20px;
}

.hidden {
    display: none;
}

.bordered {
    border: 2px solid #ae2623;
    height: 100px;
    margin: 2px;
    overflow: auto;
}

.small {
    width: 50px;
}

#book-cover {
    margin: 20px 20px 20px 0;
    background-color: #ae2623;
    display: flex;
    box-shadow: black 2px 2px 2px;
    max-width: 95%;
}

#book-page {
    margin: 5px 5px 5px 0;
    background-color: #ffe4d8;
    box-shadow: black 2px 2px 2px;
    padding: 20px;
    width: 800px;
    overflow: auto;
}
