<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">

    <link rel="icon" href="/static/favicon.png">
    <link rel="stylesheet" href="/static/style.css">

    {% block head %}{% endblock %}

    <title>Stor.io</title>
</head>
<body>
<div id="book-cover">
    <div id="book-page">
    {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>
