{% set game_user = game.get_game_user(user['cookie']) %}
{% set is_judge = game.game_users[game.judge_index] == game_user %}

{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/style.css">
{% endblock %}

{% block content %}
<h1>Stor.io - Game</h1>

<p>Playing as <span id="username">{{ user['name'] }}</span>{% if game.is_admin(user) %} (admin){% endif %}</p>
<p>Game Code: {{ code }}</p>
<p>Network Status: <span id="network-status">Disconnected</span></p>

<div class="spacer"></div>

<div id="topic-wrapper" class="{% if game.state <= 1 or game.state == 5 %}hidden{% endif %}"><p>Topic: <span id="topic">{% if game.state > 1 and game.state < 5 %}{{ game.topic }}{% endif %}</span></p></div>
<div id="action-wrapper" class="{% if game.state <= 2 or game.state == 5 %}hidden{% endif %}"><p>Action: <span id="action">{% if game.state > 2 and game.state < 5 %}{{ game.action }}{% endif %}</span></p></div>
<div id="judge-wrapper" class="{% if game.state <= 1 or game.state == 5 %}hidden{% endif %}"><p>Judge: <span id="judge">{% if game.state > 1 and game.state < 5 %}{{ game.game_users[game.judge_index].name }}{% endif %}</span></p></div>
<div id="timer-wrapper" class="{% if game.state == 0 %}hidden{% endif %}"><p>Timer to Submit: <span id="timer">{% if game.state == 0 %}-1{% elif game.state == 1 %}60{% elif game.state == 2 %}30{% elif game.state == 3 %}90{% elif game.state == 4 %}90{% endif %}</span>s</p></div>

<div class="spacer"></div>

<h4 id="info">{% if game_user.submission and not game.state == 4 %}You submitted "{{ game_user.submission }}".<br>Wait for the rest of the players.
              {% elif game.state == 1 %}Vote on a topic for the story!
              {% elif game.state == 2 %}
              {% if game.round == 1 %}"{{ game.topic }}" has been chosen as the topic!{% endif %}<br>
              {% if is_judge %}You are the judge! Select an action for the round.
              {% else %}Wait for the judge to select an action for the round.{% endif %}
              {% elif game.state == 3 %}The action is "{{ game.action }}".<br>
              {% if is_judge %}You are the judge!<br>Wait for players to submit their responses.
              {% else %}Write your sentence!{% endif %}
              {% elif game.state == 4 %}
              {% if is_judge %}You are the judge!<br>Pick a sentence to add to the story.
              {% else %}Wait for the judge to choose a sentence.{% endif %}
              {% endif %}</h4>

<div class="spacer"></div>

{% if game.is_admin(user) %}
<button id="start-game-button" {% if not game.state == 0 %}class="hidden"{% endif %}>Start Game</button>
{% endif %}

<div class="spacer"></div>

<div id="choices-wrapper" class="{% if game.state == 0 or game.state == 3 or (game_user.submission and not game.state == 4) %}hidden{% endif %}">
    <h4>Choices</h4>
    <div id="choices-list">
        {% if (game.state == 1 and not game_user.submission) or game.state == 2 or game.state == 4 %}
        {% for choice in game.choices %}
        <p>"{{ choice }}"{% if game.state == 1 or is_judge %} <button onclick='submit({{ choice | tojson }})'>Vote</button>{% endif %}</p>
        {% endfor %}
        {% endif %}
    </div>

    <div class="spacer"></div>
</div>

<div id="submission-wrapper" class="{% if not game.state == 3 or is_judge or game_user.submission %}hidden{% endif %}">
    <h4>Submission</h4>
    <textarea id="submission" maxlength="100"></textarea>
    <br>
    <small>(<span id="submission-length">0</span>/100)</small>
    <br>
    <button id="submit-button">Submit</button>

    <div class="spacer"></div>
</div>

<h4>Players</h4>
<div id="users-list">
    {% for current_game_user in game.game_users %}
    <p id="{{ current_game_user.name }}-wrapper">{{ current_game_user.name }} - <span id="{{ current_game_user.name }}-score">{{ current_game_user.score }}</span>{% if game.is_admin(user) and not current_game_user.name == user['name'] %} <button class="player-button" onclick='kick({{ current_game_user.name | tojson }})'>Kick</button> <button class="player-button" onclick='ban({{ current_game_user.name | tojson }})'>Ban</button>{% endif %}</p>
    {% endfor %}
</div>

<div class="spacer"></div>

<div id="story-wrapper" class="{% if game.state == 0 %}hidden{% endif %}">
    <h4>Story</h4>
    <div class="bordered">
        <div id="story-list">
            {% for story_line in game.story %}
            <p>{{ story_line }}</p>
            {% endfor %}
        </div>
    </div>
</div>

<button onclick="ignore_requests = true; window.location.href='/leave'">Leave Game</button>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.slim.js"></script>
<script src="/static/game.js"></script>
{% endblock %}
