{% extends 'base.html' %}

{% block content %}
<img src="/static/favicon.png" alt="Stor.io" width="50px">

<h1>Stor.io</h1>

<p>Stor.io is a game where players collectively<br>build a story one sentence at a time.</p>

<div class="spacer"></div>

<h4>How To Play</h4>
<p>At the beginning of the game, all players choose a topic out of 5 random topics for the story. The topic that
   receives the most votes is then designated as the story's topic. Each round, a judge is randomly chosen out of all
   the players. The judge then chooses an action out of 5 random actions. Then, each player (except the judge) writes a
   sentence to add to the story that best matches the story's topic and the round's action. Once all players have
   submitted their sentences, the judge picks the best sentence. The sentence is then added to the story, the writer
   of the sentence is rewarded a point, and then the next round beings. The rounds continue until a player receives a
   total of 4 points, when which the story is concluded, the game ends, and the player with 4 points is named the
   winner.</p>

<div class="spacer"></div>

<h4>Enter a Username to Begin</h4>
<form action="/register-user" method="POST">
    <input type="text" name="username" maxlength="20">
    <input type="submit">
</form>

<div class="spacer"></div>

<h4>Credits</h4>
<p>Joshua Franklin</p>
<p>Megan Felsch</p>
<p>Hongyi Chen</p>
<p>Kyle Neubarth</p>
<p>Derek Ly</p>

<div class="spacer"></div>

<p>Made for CSCI 3308</p>
<p>&copy; 2018</p>
{% endblock %}
