{% extends 'base.html' %}

{% block content %}
<img src="/static/favicon.png" alt="Stor.io" width="50px">

<h1>Stor.io</h1>
<h4>Welcome {{ user['name'] }}!</h4>

<div class="spacer"></div>



<h4>Create Game</h4>
<a href="/create-game"><button>Create Game</button></a>

<div class="spacer"></div>

<h4>Join Game</h4>
<form action="/game" method="GET">
    Game Code: <input type="text" name="code" maxlength="6" class="small">
    <input type="submit" value="Join">
</form>

<div class="spacer"></div>

<h4>Your Statistics</h4>
<p>Games Completed: {{ user['games_completed'] }}</p>
<p>Games Won: {{ user['games_won'] }}</p>
<p>Rounds Completed: {{ user['rounds_completed'] }}</p>
<p>Rounds Judged: {{ user['rounds_judged'] }}</p>
<p>Rounds Won: {{ user['rounds_won'] }}</p>
{% endblock %}
